<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="M_Adnan">
		<title>
			{% block title %}
				A.G.E
			{% endblock %}
			| AG Engineering</title>

		{# Favicon #}
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
		<link
		rel="manifest" href="{{ asset('site.webmanifest') }}">

		<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
		<link
		rel="stylesheet" type="text/css" href="{{ asset('assets/rs-plugin/css/settings.css') }}" media="screen"/>

		<!-- Bootstrap Core CSS -->
		<link
		href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('assets/css/ionicons.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
		<link
		href="{{ asset('assets/css/dashboard.css') }}" rel="stylesheet">

		<!-- Online Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<link
		href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

		{# Google Materials Symbols #}
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
			<style>
.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
	vertical-align: middle;
	margin-right: 4px;
}
	</style>

		{#        {% block stylesheets %}#}
	{#                {{ encore_entry_link_tags('bootstrap.min') }}#}
		{#        {% endblock %}#}

		{#        {% block javascripts %}#}
		{#                {{ encore_entry_script_tags('bootstrap.min') }}#}
		{#            {% block importmap %}{{ importmap('bootstrap.min') }}{% endblock %}#}
		{#        {% endblock %}#}
	</head>
	<body>

		<!-- Wrap -->
		<div id="wrap">
			{% include 'partials/header/_header.html.twig' %}

			{% block body %}{% endblock %}

			{% include 'partials/footer/_footer.html.twig' %}
		</div>


		<script src="{{ asset('assets/js/jquery-1.11.0.min.js') }}"></script>
		<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assets/js/own-menu.js') }}"></script>
		<script src="{{ asset('assets/js/jquery.isotope.min.js') }}"></script>
		<script src="{{ asset('assets/js/jquery.prettyPhoto.js') }}"></script>
		<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>

		<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
		<script type="text/javascript" src="{{ asset('assets/rs-plugin/js/jquery.tp.t.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/rs-plugin/js/jquery.tp.min.js') }}"></script>
		<script src="{{ asset('assets/js/main.js') }}"></script>
	</body>

</html>
