<!--======= HOME MAIN SLIDER =========-->
<section class="home-slider">
    <!-- Slider Loader -->
    <div id="loader" class="hom-slie">
        <div class="tp-loader spinner0"><span class="dot1"></span> <span class="dot2"></span> <span class="bounce1"></span> <span class="bounce2"></span> <span
                    class="bounce3"></span></div>
    </div>

    {# INCLUSION DU CAROUSEL DE LA PAGE D'ACCUEIL #}
    {% include 'layouts/home/home_partials/_home_banner_slide.html.twig' %}
</section>

<!-- Content -->
<div id="content">
    <!--what we do-->
    {% include 'layouts/home/home_partials/_home_welcome_section.html.twig' with { services: services, prestations: prestations} %}

    <!-- LATEST WORK -->
    {% include 'layouts/home/home_partials/_home_latest_works.html.twig' with { works: works, workCategories: workCategories } %}

    <!-- WHY CHOOSE US -->
    <section class="py-md-60 padding-top-150 light-gray-bg padding-bottom-150 why-choose-use">
        <div class="container">
            <!-- HEADING -->
            <div class="heading text-center mb-3">
                <h3> Pourquoi <span>Nous Choisir?</span></h3>
                <hr>
            </div>

            <!-- Row -->
            <div class="row">
                <div class="col-md-5">
                    <p class="line-height-26">Maybe you and me were never meant to be. But baby think me once in awhile. I'm at WKRP in Cincinnati." But they
                        got diff'rent strokes. It takes diff'rent strokes different strokes to move the world Beats with the law since the day they was
                        born.<br>
                        They call him Flipper Flipper faster than lightning. No one you see is smarter than he.</p>

                    <!-- Process -->
                    <div class="num-process pb-3">
                        <ul class="row">
                            <!-- 1 -->
                            <li class="col-4">
                                <div class="icon"><span>1</span></div>
                                <p>Efficacité</p>
                            </li>

                            <!-- 2 -->
                            <li class="col-4">
                                <div class="icon"><span>2</span></div>
                                <p>Assistance 24/7</p>
                            </li>

                            <!-- 3 -->
                            <li class="col-4">
                                <div class="icon"><span>3</span></div>
                                <p>Professionnalisme</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- We Are Good -->
                <div class="col-md-7">
                    <ul class="row we-are-good">

                        <!-- ELEMENT -->
                        {% for prestation in prestations %}
                            <li class="col-md-6">
                                <article>
                                    <div class="media-left">
                                        <div class="icon"><img src="{{ vich_uploader_asset(prestation, 'iconImage') }}" alt="{{ prestation.title }}"></div>
                                    </div>
                                    <div class="media-right">
                                        <h6 class="font-normal margin-bottom-10">{{ prestation.title }}</h6>
                                        <p>{{ prestation.description }}</p>
                                    </div>
                                    <span class="go"><i class="fa fa-angle-right"></i></span></article>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonial -->
    {# Reservé pour le section des temoignages #}

    <!-- BLOG -->
    {% include 'layouts/home/home_partials/_home_blog_section.html.twig' %}

    <!-- CLIENTS -->
    <section class="clients light-gray-bg py-md-60 padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="single-slide">
                {% for subPartners in partners %}
                    <div class="item">
                        <ul class="row margin-top-5">
                            {% for eachPartner in subPartners %}
                                <li>
                                    <a href="{{ eachPartner.link }}" target="_blank">
                                        <img src="{{ asset('uploads/images/partners/' ~ eachPartner.partnerImage ) | imagine_filter('partner') }}"
                                             class="img-responsive"
                                             alt="{{ eachPartner.name }}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>